{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAEDD4;
    display: flex;
}
.main {
    width: 1200px;
}
.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 45px 50px 0;  
}



.langButton {
    border: none;
    background-color: #FAEDD4;
    color: #FB3B2D;
    font-family: Arial;
font-weight: 400;
font-size: 18px;
line-height: 50px;
text-transform: uppercase;
cursor: pointer;
}
h2{
            font-family: Arial;
font-weight: 400;
font-size: 35px;
line-height: 52.8px;
letter-spacing: 0%;
text-align: center;
color: #FAEDD4;
}
.join {
    height: 290px;
    background-color: #FB3B2D;
    text-align: center;
    padding-top: 28px;
    h2{
margin-bottom: 84px;
    }
}
.button {
    cursor: pointer;
    border: none;
    background-color: #FAEDD4;
    color: #FB3B2D;
    font-family: Arial;
font-weight: 400;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
width: 251px;
height: 28px;
}

.discover-up {
    display: flex;
    height: 582px;
}
.discover-up-left {
width: 719px;
h1{
    font-family: Arial;
font-weight: 400;
font-size: 65px;
line-height: 65px;
letter-spacing: 0%;
color: #FB3B2D;
margin: 185px 100px 36px 50px;
}
p{
    font-family: Arial;
font-weight: 400;
font-size: 22px;
line-height: 33px;
letter-spacing: 0%;
color: #FB3B2D;
margin-left: 50px;
margin-top: 27px;
margin-bottom: 23px;
}
}
.discover-our-brands {
    height: 114px;
    background-color: #FB3B2D;
    color: #FAEDD4;
    font-family: Arial;
font-weight: 400;
font-size: 37px;
line-height: 114px;
letter-spacing: 0%;
text-align: center;
}
.redline{
    width: 719px;
    height: 2px;
    background-color: #FB3B2D;
}

.discover-up-image {
    border-left: 2px solid #FB3B2D;
}
.goto {
    width: 80px;
    height: 800px;
    font-family: Arial;
font-weight: 400;
font-size: 27px;
line-height: 80px;
letter-spacing: 0%;
text-align: center;
color: #28292B;
writing-mode: vertical-lr;
text-orientation:mixed;
}
.blueBack {
    background-color: #8899CC;
}
.yellowBack {
    background-color: #FFAF00;
}
.redBack {
    background-color: #FC564A;
}


.bitesize {
    h2{
        margin-left: 50px;
        text-align: left;
     color: #FB3B2D;
    }
}

.bitesize-items {
    border-top: 2px solid #FB3B2D;
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
}
.item {
    width: 363px;
    height: 266px;
    text-align: center;
    margin: 90px 0;
    padding-top: 58px;
    h4{
        margin-top: 35px;
        font-family: Arial;
font-weight: 400;
font-size: 30px;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
color: #FB3B2D;
    }
}
.redsc {
    height: 120px;
    background-color: #FB3B2D;
    display: flex;
    justify-content: space-around;
    h3{
        font-family: Arial;
font-weight: 400;
font-size: 40px;
line-height: 120px;
letter-spacing: 0%;
color: #FAEDD4;
    }
}
.footer {
    display: flex;
    padding: 50px;
}
.column {
    width: 242px;
a, p{
    display: block;
    font-family: Arial;
font-weight: 400;
font-size: 22px;
line-height: 33px;
color: #FB3B2D;
text-decoration: none;
}
}
