{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAEDD4;
    display: flex;
}
.main {
    width: 1200px;
}
.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 45px 50px 0;  
}
